h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #212121;
}

p, li, table, body {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  color: #FB8C00;
}

*:focus {
  outline: none;
}

body {
  background: #fff;
}

.title {
  font-size: 2em;
  margin: 0 0 25px;
}

.button {
  background: #FB8C00;
  font-weight: bold;
  border-radius: 0;
  border-bottom: 2px solid #e27e00;
}

.button:visited {
  background: #FB8C00;
}

.button:hover {
  background: #e27e00;
}

.button:focus, .button:active {
  background: #c87000;
}

#site-bg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.4);
  z-index: 10;
}

#site-info {
  display: none;
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  z-index: 20;
}

#site-info .row {
  position: relative;
  background: #fff;
  padding: 50px;
  box-shadow: 0 0 25px 0 rgba(33, 33, 33, 0.5);
}

#site-info #site-close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  font-size: 1.4em;
  color: #888;
  -webkit-text-stroke: 2px #fff;
  cursor: pointer;
  transition: 0.15s;
}

#site-info #site-close:hover {
  color: #212121;
}

#site-info h2 {
  margin: 0;
}

#site-info h4 {
  font-size: 1.2em;
}

#site-info p {
  margin: 15px 0;
  font-size: 0.9em;
}

#site-info ul {
  margin-bottom: 25px;
}

#site-info ul li {
  font-size: 0.9em;
}

#site-info .button {
  width: 200px;
  font-weight: bold;
  margin: 0;
}

header {
  height: 98vh;
  text-align: center;
  background: #212121;
}

header h1 {
  position: relative;
  margin: 43vh auto 0;
  color: #fff;
  z-index: 10;
}

header h2 {
  position: relative;
  color: #fff;
  font-size: 2em;
  z-index: 10;
}

header h2 span {
  color: #FB8C00;
}

main {
  padding: 100px 0;
  background: #fff;
}

main img {
  height: 300px;
  width: 100%;
  background: #ecf0f1;
}

main .button {
  width: 100px;
}

main .button i {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#sites {
  position: relative;
  height: 350px;
}

#sites .row {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  transition: 0.15s ease-in;
}

#sites .active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

#sites h3 {
  font-size: 1.5em;
  margin: 0;
}

#sites h4 {
  font-size: 1em;
  margin: 0;
}

#sites p {
  font-size: 0.9em;
  margin: 15px 0;
}

#sites ul {
  margin-top: 0;
  margin-bottom: 15px;
}

#sites ul li {
  font-size: 0.9em;
}

#sites .button {
  margin: 0;
  width: 150px;
}

#about {
  padding: 100px 0;
}

footer {
  padding: 100px 0;
  background: #212121;
}

footer h2 {
  color: #888;
}
