h1, h3, a {
  color: #fff;
  font-family: "Passion One", cursive; }

a {
  color: #f0932b;
  transition: 0.3s; }
  a:visited {
    color: #f0932b; }
  a:focus {
    outline: none;
    color: #f0932b; }
  a:hover, a:active {
    color: #f3ab5b; }

body {
  background: #262a2f; }

main {
  margin-top: 38vh; }
  main h1 {
    margin: 0; }
  main h3 {
    margin: 0; }

footer {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  right: 0; }
  footer a {
    font-size: 1.2rem;
    margin-right: 10px; }
    footer a:last-of-type {
      margin-right: 0; }

@media screen and (max-width: 39.9375em) {
  main {
    padding: 0 2rem; }
  footer a {
    font-size: 1rem;
    margin-right: 15px; } }
