h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #212121;
}

p, li, table, body {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Nunito', sans-serif;
  color: #FB8C00;
}

a:hover {
  color: #e27e00;
}

*:focus {
  outline: none;
}

*::-moz-selection {
  background: rgba(251, 140, 0, 0.2);
}

*::selection {
  background: rgba(251, 140, 0, 0.2);
}

body {
  background: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-size: 1.5em;
  margin: 0 0 25px;
  font-weight: bold;
}

.button {
  background: #FB8C00;
  font-weight: bold;
  border-radius: 2px;
  border-bottom: 2px solid #e27e00;
}

.button:visited {
  background: #FB8C00;
}

.button:hover {
  background: #e27e00;
}

.button:focus, .button:active {
  background: #c87000;
}

header {
  position: absolute;
  top: 0;
}

header ul {
  margin: 10px 0 25px;
  padding: 0;
  list-style: none;
}

header ul li {
  display: inline-block;
}

#hero {
  height: 100vh;
  background: #212121;
  transition: 0.6s;
  z-index: 100;
}

#hero h1 {
  color: #fff;
  margin: 30vh 0 0;
}

#hero h2 {
  color: #fff;
  font-size: 2em;
  margin: 0 0 25px;
}

#hero h2 span {
  color: #FB8C00;
}

#hero .button {
  width: 150px;
}

main {
  padding: 0 0 50px;
}

main section {
  margin: 0 0 50px;
}

main .site {
  margin-top: 50px;
  margin-bottom: 75px;
}

main .site img {
  box-shadow: 0 0 5px 0 rgba(33, 33, 33, 0.2);
}

main .site h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

main .site p {
  margin: 15px 0;
}

main .site .button {
  width: 125px;
  margin: 0;
}

#about {
  padding-top: 50px;
}

#about h3 {
  font-size: 1em;
  margin: 0;
}

#about h4 {
  font-size: 1.2em;
  margin-top: 25px;
}

#about li {
  font-size: 0.9em;
}

#contact img {
  margin: 0 0 15px;
}

#contact h1 {
  font-size: 1.5em;
  margin: 0;
}

#contact h5 {
  font-size: 1em;
}
