$font: 'Passion One', cursive;
$primary: darken(#535c68, 20%);
$accent: #f0932b;

h1, h3, a {
    color: #fff;
    font-family: $font;
}

a {
    color: $accent;
    transition: 0.3s;

    &:visited {
        color: $accent;
    }

    &:focus {
        outline: none;
        color: $accent;
    }

    &:hover,
    &:active {
        color: lighten($accent, 10%);
    }
}

body {
    background: $primary;
}

main {
    margin-top: 38vh;
    h1 {
        margin: 0;
    }
    h3 {
        margin: 0;
    }
}

footer {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;

    a {
        font-size: 1.2rem;
        margin-right: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 39.9375em) {
    main {
        padding: 0 2rem;
    }

    footer {
        a {
            font-size: 1rem;
            margin-right: 15px;
        }
    }
}
