h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #333;
}

p, li, table, body {
  font-family: 'Open Sans', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  color: tomato;
}

body {
  background: #fff;
}

.title {
  font-size: 2em;
  margin: 0 0 25px;
}

#site-bg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.4);
  z-index: 10;
}

#site-info {
  display: none;
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  z-index: 20;
}

#site-info .row {
  position: relative;
  background: #fff;
  padding: 50px;
  box-shadow: 0 0 25px 0 rgba(51, 51, 51, 0.5);
}

#site-info #site-close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  font-size: 1.4em;
  color: #888;
  -webkit-text-stroke: 2px #fff;
  cursor: pointer;
  transition: 0.15s;
}

#site-info #site-close:hover {
  color: #333;
}

#site-info h2 {
  margin: 0;
}

#site-info h4 {
  font-size: 1.2em;
}

#site-info p {
  margin: 15px 0;
  font-size: 0.9em;
}

#site-info ul {
  margin-bottom: 25px;
}

#site-info ul li {
  font-size: 0.9em;
}

#site-info .button {
  width: 200px;
  font-weight: bold;
  margin: 0;
}

header {
  height: 98vh;
  background: steelblue;
  text-align: center;
}

header h1 {
  margin: 43vh auto 0;
  color: #fff;
}

header h2 {
  color: #fff;
  font-size: 2em;
}

main {
  padding: 100px 0;
  background: #fff;
}

main img {
  height: 300px;
  width: 100%;
  background: #888;
}

main h3 {
  font-size: 1em;
}

#sites img {
  margin-bottom: 30px;
  cursor: pointer;
}

section {
  padding: 100px 0;
  background: linear-gradient(to right, steelblue 50%, #fff 50%);
}

footer {
  padding: 100px 0;
  background: #333;
}

footer h2 {
  color: #888;
}
