// colors
$primary: #455A64;
$accent: #FB8C00;
$dark: #212121;
$medium: #888;
$light: #fff;

// fonts
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    color: $dark;
}
p, li, table, body {
    font-family: 'Open Sans', sans-serif;
}
a {
    font-family: 'Nunito', sans-serif;
    color: $accent;
    &:hover {
        color: darken($accent, 5%);
    }
}

// globals
*:focus {
    outline: none;
}
*::selection {
    background: rgba($accent, 0.2);
}

body {
    background: $light;
}

.title {
    font-size: 1.5em;
    margin: 0 0 25px;
    font-weight: bold;
}

.button {
    background: $accent;
    font-weight: bold;
    border-radius: 2px;
    border-bottom: 2px solid darken($accent, 5%);

    &:visited {
        background: $accent;
    }

    &:hover {
        background: darken($accent, 5%);
    }

    &:focus, &:active {
        background: darken($accent, 10%);
    }
}
