// colors
$primary: steelblue;
$accent: tomato;
$dark: #333;
$medium: #888;
$light: #fff;

// fonts
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: $dark;
}
p, li, table, body {
    font-family: 'Open Sans', sans-serif;
}
a {
    font-family: 'Lato', sans-serif;
    color: $accent;
}

// globals
body {
    background: $light;
}

.title {
    font-size: 2em;
    margin: 0 0 25px;
}

// site popup
#site-bg {
    display: none;
    position: fixed;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background: rgba($dark, 0.4);
    z-index: 10;
}
#site-info {
    display: none;
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    z-index: 20;

    .row {
        position: relative;
        background: $light;
        padding: 50px;
        box-shadow: 0 0 25px 0 rgba($dark, 0.5);
    }

    #site-close {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px;
        font-size: 1.4em;
        color: $medium;
        -webkit-text-stroke: 2px $light;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
            color: $dark;
        }
    }

    h2 {
        margin: 0;
    }
    h4 {
        font-size: 1.2em;
    }
    p {
        margin: 15px 0;
        font-size: 0.9em;
    }
    ul {
        margin-bottom: 25px;
        li {
            font-size: 0.9em;
        }
    }
    .button {
        width: 200px;
        font-weight: bold;
        margin: 0;
    }
}
