// header
header {
    height: 98vh;
    text-align: center;
    background: $dark;
    // background-image: url('/img/hero.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;

    // #header-filter {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     height: 98vh;
    //     background: rgba($dark, 0.1);
    //     z-index: 1;
    // }

    h1 {
        position: relative;
        margin: 43vh auto 0;
        color: $light;
        z-index: 10;
    }

    h2 {
        position: relative;
        color: $light;
        font-size: 2em;
        z-index: 10;
        span {
            color: $accent;
        }
    }
}

// main content
main {
    padding: 100px 0;
    background: $light;

    img {
        height: 300px;
        width: 100%;
        background: #ecf0f1;
    }

    .button {
        width: 100px;

        &:visited,
        &:focus {
            background: $accent;
        }

        i {
            font-size: 20px;
            padding: 0;
            margin: 0;
        }
    }
}

#sites {
    position: relative;
    height: 350px;

    .row {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 50px;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        transition: 0.15s ease-in;
    }

    .active {
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }

    h3 {
        font-size: 1.5em;
        margin: 0;
    }
    h4 {
        font-size: 1em;
        margin: 0;
    }
    p {
        font-size: 0.9em;
        margin: 15px 0;
    }
    ul {
        margin-top: 0;
        margin-bottom: 15px;
        li {
            font-size: 0.9em;
        }
    }
    .button {
        margin: 0;
        width: 150px;
    }
}

// section
#about {
    padding: 100px 0;
}

// footer
footer {
    padding: 100px 0;
    background: $dark;

    h2 {
        color: $medium;
    }
}
