// landing
#hero {
    height: 100vh;
    background: $dark;
    transition: 0.6s;
    z-index: 100;

    h1 {
        color: $light;
        margin: 30vh 0 0;
    }

    h2 {
        color: $light;
        font-size: 2em;
        margin: 0 0 25px;

        span {
            color: $accent;
        }
    }

    .button {
        width: 150px;
    }
}

// slide up animation
.move-hero {
    transform: translateY(-100%) !important;
    margin-top: -100vh;
}

#container {
    position: relative;
    transition: 0.6s;
}

body {
    overflow-y: hidden;
}

// header
header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    transition: 0.6s;

    img {
        margin: 15px 0;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
        margin: 0;
    }

    ul {
        margin: 10px 0 25px;
        padding: 0;
        list-style: none;

        li {}
    }
}

// main
main {
    margin-left: 250px;
    padding: 0 0 50px;

    section {
        margin: 50px 0;
    }

    .site {
        margin-top: 50px;
        margin-bottom: 75px;

        img {
            box-shadow: 0 0 5px 0 rgba($dark, 0.2);
        }

        h3 {
            font-size: 1.25em;
            font-weight: bold;
            margin: 0;
        }

        p {
            margin: 15px 0;
        }

        .button {
            width: 125px;
            margin: 0;
        }
    }
}

// about
#about {
    h4 {
        font-size: 1.2em;
        margin-top: 25px;
    }
    li {
        font-size: 0.9em;
    }
}

// work
#work {

}
