// header
.header-scrolled {
    background: $light;
    box-shadow: 0 0 5px 0 rgba($dark, 0.3);
    z-index: 999;
    a {
        color: $dark;
        &:hover {
            color: $accent !important;
        }
        &:visited, &:focus, &:active {
            color: $dark;
        }
    }
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
    transition: 0.3s;

    @media #{$small-only} {
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;

        li {
            display: inline-block;
            a {
                display: block;
                padding: 15px;
                color: $light;
                transition: 0.15s;
                &:visited, &:focus, &:active {
                    color: $light;
                }
            }
        }
    }
}

// landing
#hero {
    height: 100vh;
    background: $dark;
    transition: 0.6s;

    h1 {
        color: $light;
        margin: 38vh 0 0;
        @media #{$small-only} {
            margin-top: 35vh;
        }
    }

    h2 {
        color: $light;
        font-size: 2em;
        margin: 0 0 25px;

        @media #{$small-only} {
            font-size: 1.4em;
        }

        span {
            color: $accent;
        }
    }

    .button {
        width: 150px;
    }
}

// main
main {
    padding: 0 0 100px;

    section {
        padding-top: 100px;
    }
}

// about
#about {
    img {
        border-radius: 3px;

        @media #{$small-only} {
            margin-bottom: 25px;
        }
    }
    .title {
        margin-bottom: 15px;
    }
    h3 {
        font-size: 1em;
        margin: 0;
    }
    h4 {
        font-size: 1.2em;
        font-weight: bold;
        color: $medium;
        margin-top: 25px;
    }
    li {
        font-size: 0.9em;
    }
    @media #{$small-only} {
        .button {
            display: block;
        }
    }
}

// work
#work {
    .site {
        margin-top: 50px;
        margin-bottom: 75px;
        &:last-of-type {
            margin-bottom: 0;
        }

        img {
            box-shadow: 0 0 5px 0 rgba($dark, 0.2);
        }

        h3 {
            font-size: 1.25em;
            font-weight: bold;
            margin: 0;
            @media #{$small-only} {
                margin-top: 25px;
            }
        }

        p {
            margin: 15px 0;
        }

        .button {
            width: 125px;
            margin: 0;
        }
    }
}
