// header
header {
    position: absolute;
    top: 0;

    ul {
        margin: 10px 0 25px;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
        }
    }
}

// landing
#hero {
    height: 100vh;
    background: $dark;
    transition: 0.6s;
    z-index: 100;

    h1 {
        color: $light;
        margin: 30vh 0 0;
    }

    h2 {
        color: $light;
        font-size: 2em;
        margin: 0 0 25px;

        span {
            color: $accent;
        }
    }

    .button {
        width: 150px;
    }
}

// main
main {
    padding: 0 0 50px;

    section {
        margin: 0 0 50px;
    }

    .site {
        margin-top: 50px;
        margin-bottom: 75px;

        img {
            box-shadow: 0 0 5px 0 rgba($dark, 0.2);
        }

        h3 {
            font-size: 1.25em;
            font-weight: bold;
            margin: 0;
        }

        p {
            margin: 15px 0;
        }

        .button {
            width: 125px;
            margin: 0;
        }
    }
}

// about
#about {
    padding-top: 50px;


    h3 {
        font-size: 1em;
        margin: 0;
    }
    h4 {
        font-size: 1.2em;
        margin-top: 25px;
    }
    li {
        font-size: 0.9em;
    }
}

// work
#work {

}

// contact
#contact {
    img {
        //padding-top: 40px;
        margin: 0 0 15px;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    h5 {
        font-size: 1em;
    }
}
